body {
    position: relative;
    width: 1440px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #AE7C78;
}

a, ul, li, p, h1, h2, h3 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #AE7C78;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.site-header {
    position: relative;
    width: 1440px;
    min-height: 64px;
    margin-top: 26px;
    margin-bottom: 82px;
    border-top: 1px solid #AE7C78;
    border-bottom: 1px solid #AE7C78;
}

.menu-logo {
    position: absolute;
    top: 16px;
    left: calc(50% - 50px);
}

.site-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 224px;
    width: 1200px;
    margin: 0 auto;
}

.menu-list-left,
.menu-list-right {
    display: flex;
    flex-wrap: wrap;
    width: 488px;
    min-height: 64px;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.presentation {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 46px;
    justify-content: space-between;
}

.presentation-promo {
    width: 386px;
    margin: 0;
}

.presentation-promo h1 {
    margin-top: 0;
    margin-bottom: 24px;
    font-family: "Playfair Display", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 59px;
}

.presentation-promo span {
    font-style: italic;
}

.presentation-promo p {
    margin-bottom: 61px;
    font-size: 24px;
    line-height: 29px;
}

.presentation-anna {
    margin-top: 60px;
}

.btn {
    display: inline-block;
    width: 285px;
    height: 80px;
    font-size: 16px;
    line-height: 80px;
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
    background: #D89999;
    border-radius: 40px;
}

.advantages {
    margin-bottom: 80px;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style: none;
}

.advantages-item {
    position: relative;
    width: 285px;
    margin: 0;
    margin-left: 121px;
}
.advantages-item:first-child {
    margin-left: 0;
}

.advantages-list li:first-child::before {
    position: absolute;
    left: -102px;
    width: 82px;
    height: 52px;
    content: "";
    background-image: url("../img/car.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.advantages-item h3 {
    margin-top: 0;
    margin-bottom: 8px;
    font-weight: 500;
}

.advantages-list li:nth-child(2)::before {
    position: absolute;
    left: -63px;
    width: 42px;
    height: 52px;
    content: "";
    background-image: url("../img/bouquet.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.advantages-list li:nth-child(3)::before {
    position: absolute;
    left: -78px;
    width: 58px;
    height: 52px;
    content: "";
    background-image: url("../img/group.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.popular-products {
    position: relative;
    width: 794px;
    height: 546px;
    margin: 0 auto;
    margin-bottom: 80px;
}

.popular-products h2 {
    width: 371px;
    margin-left: 217px;
    margin-bottom: 63px;
    font-family: "Playfair Display", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.02em;
}

.popular-products h3 {
    width: 387px;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

.popular-products p{
    width: 387px;
    margin-bottom: 24px;
}

.popular-products span {
    display: block;
    margin-bottom: 64px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

.popular-bouquet {
    position: absolute;
    top: 84px;
    right: 0;
}

.arrow-left {
    position: absolute;
    left: 336px;
    bottom: -8px;
}

.arrow-right {
    position: absolute;
    right: 336px;
    bottom: -8px;
}

.catalog-sections {
    display: grid;
    grid-template-columns: 386px 1fr 1fr;
    column-gap: 20px;
    min-height: 442px;
    margin-bottom: 80px;
}

.catalog-item {
    position: relative;
    color: #FFFFFF;
}

.catalog-item h2 {
    margin-top: 183px;
    margin-bottom: 8px;
    font-family: "Playfair Display", "Arial", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.02em;
}

.catalog-item p {
    text-align: center;
}

.catalog-item:first-child::before {
    position: absolute;
    width: 387px;
    height: 442px;
    content: "";
    background-image: url("../img/sammi-bouquet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.catalog-item:nth-child(2)::before {
    position: absolute;
    width: 387px;
    height: 442px;
    content: "";
    background-image: url("../img/fresh-bouquet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.catalog-item:nth-child(3)::before {
    position: absolute;
    width: 387px;
    height: 442px;
    content: "";
    background-image: url("../img/alyssa-bouquet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.catalog-item::after {
    position: absolute;
    top: 0;
    width: 387px;
    height: 442px;
    content: "";
    background-image: url("../img/rectangle.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.discount {
    min-height: 391px;
    margin-bottom: 80px;
    color: #FFFFFF;
    background-color:  #AE7C78;
}

.discount h2 {
    width: 488px;
    margin-left: 102px;
    padding-top: 40px;
    margin-bottom: 24px;
    font-family: "Playfair Display", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 59px;
    letter-spacing: 0.02em;
}

.discount p {
    width: 387px;
    margin-left: 102px;
    font-size: 24px;
    line-height: 29px;
}

.discount::before {
    position: absolute;
    right: 120px;
    width: 590px;
    height: 391px;
    content: "";
    background-image: url("../img/bouquet-discont.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.steps {
    margin-bottom: 80px;
}

.steps h2 {
    margin-bottom: 96px;
    font-family: "Playfair Display", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.02em;
    text-align: center;
}

.steps-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

.steps-item {
    position: relative;
    width: 285px;
    margin: 0;
}
.advantages-item:first-child {
    margin-left: 0;
}

.steps-list li:first-child::before {
    position: absolute;
    left: 110px;
    top: -60px;
    width: 66px;
    height: 52px;
    content: "";
    background-image: url("../img/order-step.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.steps-list li:nth-child(2)::before {
    position: absolute;
    left: 110px;
    top: -60px;
    width: 37px;
    height: 52px;
    content: "";
    background-image: url("../img/detalies-step.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.steps-list li:nth-child(3)::before {
    position: absolute;
    left: 110px;
    top: -60px;
    width: 70px;
    height: 52px;
    content: "";
    background-image: url("../img/payment-step.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.steps-list li:nth-child(4)::before {
    position: absolute;
    left: 110px;
    top: -60px;
    width: 82px;
    height: 52px;
    content: "";
    background-image: url("../img/car.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.steps-item h3 {
    margin-top: 0;
    margin-bottom: 8px;
    font-weight: 500;
    text-align: center;
}

.steps-item p {
    text-align: center;
}

.news {
    position: relative;
    min-height: 460px;
    margin-bottom: 80px;
    background-image: url("../img/big-news.jpg");
    background-position: right top;
    background-repeat:no-repeat;
    background-size: 387px;
}

.news h2 {
    width: 487px;
    margin-bottom: 40px;
    padding-top: 70px;
    font-family: "Playfair Display", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.02em;
}

.news p {
    width: 387px;
    margin-bottom: 40px;
    font-size: 24px;
    line-height: 29px;
}

.news-social {
    display: flex;
    flex-wrap: wrap;
    max-width: 387px;
}

.news-social a:not(:last-child) {
    margin-right: 19px;
    margin-bottom: 10px;
}

.news::before {
    position: absolute;
    right: 407px;
    top: 0;   
    width: 285px;
    height: 220px;
    content: "";
    background-image: url("../img/small1-news.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.news::after {
    position: absolute;
    right: 407px;
    bottom: 0;
    width: 285px;
    height: 220px;
    content: "";
    background-image: url("../img/small2-news.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.feedback {
    margin-bottom: 80px;
    border: 1px solid #AE7C78;
}

.feedback h2 {
    margin-bottom: 40px;
    padding-top: 40px;
    font-family: "Playfair Display", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.02em;
}

.feedback-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.feedback-item {
    width: 300px;
    margin: 0;
}

.feedback-item p {
    margin-bottom: 18px;
    text-align: center;
}

.feedback-item span {
    display: block;
    margin-bottom: 64px;
    font-weight: 500;
    text-align: center;
}

.contacts {
    position: relative;
    width: 100%;
    height: 644px;
}

.contacts-info {
    position: absolute;
    left: 222px;
    top: 52px;
    width: 386px;
    height: 520px;
    padding-top: 40px;
    padding-left: 35px;
    background: #F7FAFC;
    border-radius: 12px;
    box-shadow: 0px 4px 40px rgba(217, 217, 217, 0.3);
    box-sizing: border-box;
}
.contacts-info h2 {
    margin-bottom: 42px;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
}

.contacts-item p:first-child {
    margin-bottom: 19px;
}

.contacts-item p:nth-child(2) {
    margin-bottom: 30px;
}

.contacts-item p:nth-child(3) {
    margin-bottom: 17px;
}

.contacts-item p:nth-child(4) {
    margin-bottom: 30px;
    font-weight: 500;
}

.contacts-item p:nth-child(5) {
    margin-bottom: 14px;
}

.contacts-item p:nth-child(6) {
    margin-bottom: 30px;
    font-weight: 500;
}

.contacts-item p:nth-child(7) {
    margin-bottom: 14px;
}

.contacts-item p:nth-child(8) {
    font-weight: 500;
}

.site-footer {
    display: flex;
    min-height: 97px;
    background-color: #AE7C78;
}

.container.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-navigation {
    width: 790px;
}

.menu-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.menu-list a {
    color: #FFFFFF;
}

.footer-social {
    display: flex;
    min-width: 100px;
    justify-content: space-between;
}